body {
  font-size: 64px;
}

table {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
  border-style: hidden;
}

/* tr {
  background-color: red;
} */

table td {
  padding: 15px 1em;
  height: 105px;
  width: 33.3%;
  border: 3px solid black;
  text-align: center;
  /* background-color: aqua; */
}

#start-btn {
  position: absolute;
  bottom: 80px;
  width: 100px;
  left: 50%;
  transform: translate(-50px);
  font-size: 24px;
}

#name-container {
  display: flex;
  justify-content: space-evenly;
}

#player-1-container {
  display: flex;
  align-items: center;
}

#player-2-container {
  display: flex;
  align-items: center;
}

.labels {
  font-size: 32px;
  margin: 50px 10px;
}

input {
  height: 24px;
  width: 100px;
  font-size: 20px;
}

#title {
  width: 400px;
  font-size: 72px;
  margin: auto;
}

.names {
  font-size: 32px;
  margin: 50px 10px;
}
