body {
  font-size: 64px;
}

table {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
  border-style: hidden;
}

/* tr {
  background-color: red;
} */

table td {
  padding: 15px 1em;
  height: 105px;
  width: 33.3%;
  border: 3px solid black;
  text-align: center;
  /* background-color: aqua; */
}
